


.InfoCard{
  position: absolute;
  height: 45vh;
  width: 90vw;
  top: 50vh;
  left: 5vw;
  background-color: white;
}
.clear-button{
  position: relative;
  top: 10px;
  right: 10px;
}

.timegrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.gridlist{
  flex-wrap: nowrap;
  transform: translateZ(0);
}

@import 'GeocodeResult';
@import 'Map';